{% extends "base.html" %}
{% load static %}
{% block title%}اكتشف - تعديل كلمة السر
{% endblock title %}

{% block content %}

<body>



    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0 ">
        <div class="container-lg position-relative p-0 px-lg-3 " style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
                <a href="" class="navbar-brand">
                    <h1 class="m-0 text-primary"><span class="text-dark">ا</span>ك<span class="text-dark">تشف</span></h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a href="{% url 'main-page:main' %}" class="nav-item nav-link">الرئيسية</a>
                        <a href="{% url 'main-page:about-page' %}" class="nav-item nav-link">من نحن</a>
                        <a href="{% url 'main-page:sites-page' %}" class="nav-item nav-link">المواقع</a>
                        {% if user.is_authenticated %}
                        <a href="#"></a>
                        {% else %}
                        <a href="{% url 'accounts:signup' %}" class="nav-item nav-link">انشاء حساب</a>
                        <a href="{% url 'login' %}" class="nav-item nav-link">تسجيل دخول</a>
                        {% endif %}
                        <div class="nav-item dropdown">
                            {% if user.is_authenticated %}
                            <a href="#" class="nav-link dropdown-toggle " data-toggle="dropdown">حسابي</a>
                            {% else %}
                            <a href="#"></a>
                            {% endif %}
                            <div class="dropdown-menu border-0 rounded-0 m-0">
                                {% if user.is_authenticated %}
                                <a href="{% url 'accounts:profile' %}" class="dropdown-item">حسابي</a>
                                <a href="{% url 'logout' %}" class="dropdown-item">تسجيل خروج</a>
                                {% else %}
                                <a href="#"></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->

    <!-- Header Start -->
    <div class="container-fluid page-header">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
                <h3 class="display-4 text-white text-uppercase">تم تغير كلمة السر بنجاح</h3>
                <div class="d-inline-flex text-white">
                    <a href="{% url 'main-page:main' %}" class="btn btn-primary w-100" style="font-size: 20px;">الرئيسية</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->





  
</body>

{% endblock content %}